[submodule ".local/share/oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = .local/share/oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".local/share/oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = .local/share/oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
