# Excluir todo.
/*


# Añadir todos los archivos de configuración.

# General (no ignorar la carpeta de configuración).
!/.config
/.config/*

# Emacs
!/.emacs.d
/.emacs.d/*
!/.emacs.d/config.org
!/.emacs.d/init.el
!/.emacs.d/custom.el

# Bash.
!/.bashrc

# Git.
!/.gitignore
!/.gitconfig

# i3wm.
!/.config/i3
/.config/i3/*
!/.config/i3/config

# Qutebrowser.
!/.config/qutebrowser
/.config/qutebrowser/*
!/.config/qutebrowser/config.org
